/* signup.css */

body {
    background-color: #e0f7fa; /* 연한 하늘색 배경 */
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #ffffff;
    padding: 40px; /* 양 옆 폭 조절 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px); /* 양옆 여백 고려하여 크기 조절 */
    padding: 10px; /* 내부 여백 키우기 */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px; /* 입력 요소 간격 키우기 */
}

.form-group button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}
